# Ignore the compiled executable
Main.exe
csopesy
# Ignore the config file
config.txt
# Ignore all VSCode settings (optional)
.vscode/
.vscode/c_cpp_properties.json
.vscode/tasks.json
.git/
./memory_stamps
csopesy.dSYM/
